.overflow {
	overflow: hidden;
}

.cart, .cart-order {
	float: left;
}

.cart {
	width: 80%;
}

.cart-order {
	width: 20%;
	border: 1px solid #cbcbcb; /*i give you a SOLID cb color thanks*/
  padding: 9px 0px 25px 25px;
  border-radius: 5px;
  margin-top: 130px;
}

#container {
	height: 100%;
	width: 100%;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

.navbar-inverse {
	min-height: 50px;
	background-color:#22264b;
	border-color: transparent;
}

.nav-left {
	position: relative;
	float: left;
	width: auto;
	display: inline-block;
	*display: inline;
	*zoom: 1
}
.nav-right {
	position: relative;
	float: right;
	width: auto;
	display: inline-block;
	*display: inline;
	*zoom: 1
}
.nav-fill {
	width: auto;
	overflow: hidden;
	white-space: nowrap
}

/*.form-control {
		min-width: 500px;

}*/

.btn-search {
	min-height: 34px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.rating-container{
	font-size: 0px;
	display: inline-block;
}

.rating-container > span,.rating-container > i{
	font-size: 16px;
}

.search-thumbnail {
  display: inline-flex;
  padding: 10px;
  margin-bottom: 30px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 10px;

  margin-left: 5px;
  margin-right: 5px;
  
}

.search-caption {
	padding: 3px;
	color: #000;
	margin-left: 30px;
	min-width: 450px;
}


.search-caption h4 {
	margin-bottom: 30px;
}

.search-thumbnail img {
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}

a {
	color: #00B7FF
}

#feedback{
	padding-left: 20px;
}

.feedback-user{
	text-indent: 0.5em;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	vertical-align: bottom;
}

.feedback-user > span{
	vertical-align: middle;
}

.glyphicon{
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

/*.fa.fa-star{
	color:yellow;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.fa.fa-star-half-o{
	color:yellow;
	width: 14.8594px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}*/

.fa-stack i.fa-star {
    color:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.fa-stack i.fa-star-half {
    color:yellow;
    margin-left: -4.5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.yellow {
	color: yellow !important;
}

.cart-quantity {
	position: relative;
	width: 80%;
	float: left;
}

.price {
	float: left;
	width: 20%;
	display: inline-block;
}

.cart-quantity label {
	float: left;
	width: 20%;
	padding-top: 8px;
}

.cart-quantity select {
	min-width: 0;
	float: left;
	width: 25%;
}

.total-price {
	margin-top: 15px;
	clear: both;
}