<div class="container">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<img src="{{book.image_url}}" alt="book.title">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h2>{{book.title}} ({{book.year}})<small ng-if="book.format=='H'"> - Hardcover</small><small ng-if="book.format=='p'"> - Paperback</small><small></small></h2>
			<h4>by {{book.author}}</h4>
			<div class="rating-container">
				<span class="fa-stack" ng-repeat="i in countFullStars(book.avgScore) track by $index">
				     <i class="fa fa-fw fa-lg fa-star fa-stack-1x yellow"></i>
				</span>
				<span class="fa-stack" ng-repeat="i in countHalfStars(book.avgScore) track by $index">
				     <i class="fa fa-fw fa-lg fa-star-half fa-stack-1x"></i>
				     <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
				</span>
				<span class="fa-stack" ng-repeat="i in countEmptyStars(book.avgScore) track by $index">
				     <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
				</span>
			</div>
			<hr>
			<h4>Summary</h4>
			<p ng-if="book.summary!=null">
				<span>{{(book.summary).substring(0,1000)}}</span><span ng-if="book.summary.length>1000" ng-show="show">{{(book.summary).substring(1000)}}</span><span ng-if="book.summary.length>1000" ng-hide="show">...</span><a class="btn" ng-click="expand()" ng-if="book.summary.length>1000" ng-hide="show">Show more</a><a class="btn" ng-click="hide()" ng-if="book.summary.length>1000" ng-show="show">Show less</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<h2>${{displayedPrice}}</h2>
			<div class="form-group">
			  <label for="sel1">Quantity:</label>
			  <select ng-model="qtySelected" ng-change="updateQuantity()" class="form-control" id="sel1" ng-options="i as i for i in bookCopies">
	 		  </select>
	 		  <p></p>
			  <button type="button" class="btn btn-default">Add to Cart</button>
			</div>
		</div>
	</div>
	<hr>
	<div class="book-card" class="row">
		<h3>Details</h3>
		<p ng-if="book.publisher!=null"><span class="details-label">Publisher: </span>{{book.publisher}}</p>
		<p><span class="details-label">ISBN-13: </span>{{book.isbn13}}</p>
		<p ng-if="book.subject!=null"><span class="details-label">Subject: </span>{{book.subject}}</p>
		<p ng-if="book.keywords!=null"><span class="details-label">Key words: </span>{{book.keywords}}</p>
	</div>
	<hr>
	<div class="book-card" class="row">
		<h3>Feedback</h3>
		<p>Top <span class="form-inline">
			  <select ng-model="feedbackCount" ng-change="updateQuantity(qty)"class="form-control" value="5">
			    <option ng-selected="true">5</option>
			    <option>10</option>
			    <option>25</option>
			    <option>100</option>
			  </select>
			</span> submissions</p>
		<div ng-if="book.feedback.length==0">
			<p>There is no feedback available for this item yet.</p>
		</div>
		<div ng-repeat="feedback in book.feedback">
			<hr>
			<div class="rating-container">
				<span class="fa-stack" ng-repeat="i in countFullStars(feedback.score) track by $index">
				     <i class="fa fa-fw fa-lg fa-star fa-stack-1x yellow"></i>
				</span>
				<span class="fa-stack" ng-repeat="i in countHalfStars(feedback.score) track by $index">
				     <i class="fa fa-fw fa-lg fa-star-half fa-stack-1x"></i>
				     <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
				</span>
				<span class="fa-stack" ng-repeat="i in countEmptyStars(feedback.score) track by $index">
				     <i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
				</span>
			</div>
			<div class="feedback-user"><span>by {{feedback.userID}}</span></div>
			<h6 class="feedback-content">Rated on {{feedback.date | date:"dd-mm-yy"}}</h6>
			<p class="feedback-content"><br>
				<span ng-if="feedback.comment != null">{{feedback.comment}}</span>
				<span class="feedback-none" ng-if="feedback.comment == null">No comments.</span>
			</p>
			<p class="feedback-content">
				Rate this review: 
				<button type="button" class="btn btn-default" ng-click = "postFeedbackRating(2, feedback.fbID, feedback.userID)">Good</button>
				<button type="button" class="btn btn-default" ng-click = "postFeedbackRating(0, feedback.fbID, feedback.userID)">Bad</button>
				<button type="button" class="btn btn-default" ng-click = "postFeedbackRating(1, feedback.fbID, feedback.userID)">Neutral</button>
			</p>
		</div>
	</div>
</div>
