<div ng-repeat="item in cart">
	{{item}}
</div>
<form ng-submit="addBook()">
	<input type="text" ng-model="title"></input>
	<button type="submit">Post</button>
</form>
<form ng-submit="getBook()">
	<input type="text" ng-model="isbn13"></input>
	<button type="submit">Find Book</button>
</form>
<div ng-repeat="book in featuredBook">
<p>{{book.isbn13}}</p><p>{{book.title}}</p></div>
