<div class="container">
	
<div class="jumbotron" ng-controller="AuthCtrl" ng-if="!isLoggedIn()">
    <h1>Welcome to ggbooks!</h1>
    <p>Fill in the following fields to register, it's that easy!</p>
    <p>
      <form ng-submit="register()" role="form">
        <div class="form-inline">
          <input ng-model="user.username" type="email" class="form-control" placeholder="Email">
          <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
          <input type="password" class="form-control" placeholder="Retype your password">
        </div>
        <p></p>
        <div class="form-inline">
          <input ng-model="user.name" type="text" class="form-control" placeholder="Full Name">
          <input ng-model="user.credit" type="text" class="form-control" placeholder="Credit Card">
        </div>
        <p></p>
        <div class="form-inline">
          <input ng-model="user.address" type="text" class="form-control" placeholder="Delivery Address">
          <input ng-model="user.phone" type="text" class="form-control" placeholder="Phone Number">
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Register</button>
        <span>Already registered? <a href="/#/login" title="">Login here instead.</a></span>
      </form>
      
    </p>
</div>

  <div ng-show="error" class="alert alert-danger row" ng-if="!isLoggedIn()">
    <span>{{ error.message }}</span>
  </div>
<div class="row">
	<p ng-show="isLoggedIn">Recommendations for you</p>
	<p ng-hide="isLoggedIn">Top-selling books at ggbooks</p>
	<div class="col-sm-6 col-md-4" ng-repeat="item in featured">
		  <div class="thumbnail">
		  <a ng-show="isLoggedIn" href="#/book/{{item.isbn13}}"><img src="{{item.image_url}}" alt="{{item.title}}"></a>
      <a ng-hide="isLoggedIn" href="#/login"><img src="{{item.image_url}}" alt="{{item.title}}"></a>
		      <div class="caption">
		      	<h3><a ng-show="isLoggedIn" href="#/book/{{item.isbn13}}">{{item.title}}</a><a href="#/login" ng-hide="isLoggedIn">{{item.title}}</a></h3>
		      <h4>{{item.author}}</h4>
		      <div class="rating-container">
		      	<div class="glyphicon glyphicon-star" aria-hidden="true"ng-repeat="i in range(item.rating) track by $index"></div>
		      	<div class="glyphicon glyphicon-star-empty" aria-hidden="true"ng-repeat="i in range((5-item.rating)) track by $index"></div>
		      </div>
		      </div>
		  </div>
	</div>
</div>
</div>

<!-- <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>



<form ng-submit="addBook()">
	<input type="text" ng-model="title"></input>
	<button type="submit">Post</button>
</form>
<form ng-submit="getBook()">
	<input type="text" ng-model="isbn13"></input>
	<button type="submit">Find Book</button>
</form>
<div ng-repeat="book in featuredBook">
<p>{{book.isbn13}}</p><p>{{book.title}}</p></div> -->
