<div class="row">
	<p ng-show="isLoggedIn">Recommendations for you</p>
	<p ng-hide="isLoggedIn">Top Items at ggbooks</p>
	<div class="col-sm-6 col-md-4" ng-repeat="item in featured">
		  <div class="thumbnail">
		  <a href="#/book/{{item.isbn13}}"><img src="images/American-Gods.jpg" alt="{{item.title}}"></a>
		      <div class="caption">
		      	<h3><a href="#/book/{{item.isbn13}}">{{item.title}}</a></h3>
		      <h4>{{item.author}}</h4>
		      <div class="rating-container">
		      	<div class="glyphicon glyphicon-star" aria-hidden="true"ng-repeat="i in range(item.rating) track by $index"></div>
		      	<div class="glyphicon glyphicon-star-empty" aria-hidden="true"ng-repeat="i in range((5-item.rating)) track by $index"></div>
		      </div>
		      </div>
		  </div>
	</div>
</div>

<!-- <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>



<form ng-submit="addBook()">
	<input type="text" ng-model="title"></input>
	<button type="submit">Post</button>
</form>
<form ng-submit="getBook()">
	<input type="text" ng-model="isbn13"></input>
	<button type="submit">Find Book</button>
</form>
<div ng-repeat="book in featuredBook">
<p>{{book.isbn13}}</p><p>{{book.title}}</p></div> -->
