<div class="container">
	<h1>Hello, {{user}}</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="infoHeader">
			<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#infoContent" aria-expanded="true" aria-controls="infoContent">
				Account Information
			</a>
			</h4>
		</div>
		<div id="infoContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="infoHeader">
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="account-name" class="col-sm-2 control-label">Full Name</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="account-name" placeholder="Full Name" value="Nikhil Sharma">
						</div>
					</div>
					<div class="form-group">
						<label for="account-email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="account-email" placeholder="Email" value="ns@ggbooks.com">
						</div>
					</div>
					<div class="form-group">
						<label for="account-password" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="account-password" placeholder="Password hidden">
						</div>
					</div>
					<div class="form-group">
						<label for="account-retype" class="col-sm-2 control-label">Retype Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="account-retype" placeholder="Retype your password">
						</div>
					</div>
					<div class="form-group">
						<label for="account-address" class="col-sm-2 control-label">Credit Card Number</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="account-credit" placeholder="Credit Card Number" value="1234">
						</div>
					</div>
					<div class="form-group">
						<label for="account-address" class="col-sm-2 control-label">Shipping Address</label>
						<div class="col-sm-10">
							<input type="address" class="form-control" id="account-address" placeholder="Shipping Address" value="8 Somapah Road">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Change Details</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="ordersHeader">
			<h4 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-target="#ordersContent" aria-expanded="true" aria-controls="ordersContent">
				Your Orders
			</a>
			</h4>
		</div>
		<div id="ordersContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="ordersHeader">
			<div class="panel-body list-group">
				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-2 profile profile-label">
							<span>Title</span>
						</div>
						<div class="col-sm-10 profile">
							<span>Never Let You Go</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 profile profile-label">
							<span>Date</span>
						</div>
						<div class="col-sm-10 profile">
							<span>11/11/11</span>
						</div>
					</div>
				</div>
				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-2 profile profile-label">
							<span>Title</span>
						</div>
						<div class="col-sm-10 profile">
							<span>Never Let You Go</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 profile profile-label">
							<span>Date</span>
						</div>
						<div class="col-sm-10 profile">
							<span>11/11/11</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="feedbackHeader">
			<h4 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#feedbackContent" aria-expanded="true" aria-controls="feedbackContent">
				Your Feedbacks
			</a>
			</h4>
		</div>
		<div id="feedbackContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="feedbackHeader">
			<div class="panel-body">
				Feedbacks here muahaha
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="billingHeader">
			<h4 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#billingContent" aria-expanded="true" aria-controls="billingContent">
				Billing Details
			</a>
			</h4>
		</div>
		<div id="billingContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="billingHeader">
			<div class="panel-body">
				Feedbacks here muahaha
			</div>
		</div>
	</div>
</div>