<div class="container">
	<h1>Hello, {{user}}</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="infoHeader">
			<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#infoContent" aria-expanded="true" aria-controls="infoContent">
				Account Information
			</a>
			</h4>
		</div>
		<div id="infoContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="infoHeader">
			<div class="panel-body">
				<form ng-submit="updateProfile()" class="form-horizontal">
					<div class="form-group">
						<label for="account-name" class="col-sm-2 control-label">Full Name</label>
						<div class="col-sm-10">
							<input ng-model="profile.name" class="form-control" id="account-name" placeholder="Full Name" value="{{profile.name}}">
						</div>
					</div>
					<div class="form-group">
						<label for="account-email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="account-email" placeholder="Email" value="{{user}}"disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="account-address" class="col-sm-2 control-label">Credit Card Number</label>
						<div class="col-sm-10">
							<input ng-model="profile.creditcard" type="number" class="form-control" placeholder="Credit Card Number" value="{{profile.creditcard}}">
						</div>
					</div>
					<div class="form-group">
						<label for="account-address" class="col-sm-2 control-label">Shipping Address</label>
						<div class="col-sm-10">
							<input ng-model="profile.shipping_address" type="address" class="form-control" placeholder="Shipping Address" value="{{profile.shipping_address}}">
						</div>
					</div>
					<div class="form-group">
						<label for="account-phone" class="col-sm-2 control-label">Phone Number</label>
						<div class="col-sm-10">
							<input ng-model="profile.phone" type="number" class="form-control" id="account-phone" placeholder="Phone Number" value="{{profile.phone}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Change Details</button> <i ng-show="profileWaiting" class="fa fa-spinner fa-pulse"></i>
							<p></p>
				<div ng-show="profileSuccess" class="alert alert-success">
					<strong>Success!</strong> Profile updated!
				</div>
						</div>
					</div>
				<hr></form>
				<form ng-submit="changePassword()" class="form-horizontal">
					<div class="form-group">
						<label for="account-password" class="col-sm-2 control-label">Old Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" ng-model="passold" placeholder="Enter your old password here">
						</div>
					</div>
					<div class="form-group">
						<label for="account-password" class="col-sm-2 control-label">New Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" ng-model="passnew" placeholder="Enter your new password here">
						</div>
					</div>
					<div class="form-group">
						<label for="account-retype" class="col-sm-2 control-label">Retype Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" ng-model="passre" placeholder="Retype your new password here">
						</div>
					</div>
					<div ng-show="passre != passnew&&passre!=null">
						<div class="col-sm-2"></div>
						<div class="col-sm-10 alert alert-danger">						<i class="fa fa-exclamation-triangle"></i> Password does not match.</span></div>
						<p></p>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Change Password</button> <i ng-show="pwWaiting" class="fa fa-spinner fa-pulse"></i>
							<p></p>
				<div ng-show="pwSuccess" class="alert alert-success">
					<strong>Success!</strong> Profile updated!
				</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="ordersHeader">
			<h4 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-target="#ordersContent" aria-expanded="true" aria-controls="ordersContent">
				Your Orders
			</a>
			</h4>
		</div>
		<div id="ordersContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="ordersHeader">
			<div class="panel-body list-group">
				<div ng-if="orders.length == 0">
					There are no orders in your order history.
				</div>
				<div ng-repeat="order in orders" class="list-group-item">
					<div class="row">
						<div class="col-sm-2 profile profile-label">
							<div>
								
							</div>
							<span class="row">Order</span>
							<span class="row">Date</span>
							<span class="row">Status</span>
							<span class="row">Total Price </span>
						</div>
						<div class="col-sm-1 profile">
							<div>
								
							</div>
							<span class="row">#{{order.id}}</span>
							<span class="row">{{order.date | date:"dd-MM-yy"}}</span>
							<span ng-hide="order.status == 0" class="row">
								Delivered
							</span>
							<span ng-show="order.status == 0" class="row">
								In Transit
							</span>
							<span class="row">${{order.totalcost}}</span>
						</div>
						<div class="col-sm-9">
							<div class="profile well">
								<div ng-repeat="item in order.items" >
									<div class="row">
										<div class="col-sm-2">
											<div class="thumbnail profile-thumbnail">
												<img src="{{item.url}}" alt="">
											</div>
										</div>
										<div class="col-sm-7">
											<p><span class="details-label">Title: </span>{{item.title}}</p>
											<p><span class="details-label">Author: </span>{{item.author}}</p>
											<p><span class="details-label">ISBN-13: </span>{{item.isbn13}}</p>
											<p><span class="details-label">Price: </span>${{item.price}}</p>
											<p><span class="details-label">Quantity: </span>{{item.qty}}</p>
											<p><span class="details-label">Sub-Total: </span>${{item.qty*item.price}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="feedbackHeader">
			<h4 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#feedbackContent" aria-expanded="true" aria-controls="feedbackContent">
				Your Feedbacks
			</a>
			</h4>
		</div>
		<div id="feedbackContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="feedbackHeader">
			<div class="panel-body list-group">
				<div ng-repeat="feedback in feedbacks" class="list-group-item">
					<div class="row">
						<div class="col-sm-2">
							<div class="thumbnail profile-thumbnail">
								<img src="{{feedback.image_url}}" alt="">
							</div>
						</div>
						<div class="col-sm-7">
							<p><span class="details-label">Title: </span>{{feedback.title}}</p>
							<p><span class="details-label">Author: </span>{{feedback.author}}</p>
							<p><span class="details-label">ISBN-13: </span>{{feedback.book}}</p>
							<div class="rating-container">
								<span class="fa-stack" ng-repeat="i in countFullStars(feedback.score) track by $index">
									<i class="fa fa-fw fa-lg fa-star fa-stack-1x yellow"></i>
								</span>
								<span class="fa-stack" ng-repeat="i in countHalfStars(feedback.score) track by $index">
									<i class="fa fa-fw fa-lg fa-star-half fa-stack-1x"></i>
									<i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
								</span>
								<span class="fa-stack" ng-repeat="i in countEmptyStars(feedback.score) track by $index">
									<i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
								</span>
							</div>
							<h6 class="feedback-content">Rated on {{feedback.date | date:"dd-MM-yy"}}</h6>
							<p class="feedback-content"><br>
								<span ng-if="feedback.comment != null">{{feedback.comment}}</span>
								<span class="feedback-none" ng-if="feedback.comment == null">No comments.</span>
							</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="billingHeader">
			<h4 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#billingContent" aria-expanded="true" aria-controls="billingContent">
				Your rated feedbacks
			</a>
			</h4>
		</div>
		<div id="billingContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="billingHeader">
			<div class="panel-body list-group">
				<div ng-repeat="own in own_feedback" class="list-group-item row">
					<div class="row">
						<div class="col-sm-2">
							<div class="thumbnail profile-thumbnail">
								<img src="{{own.image_url}}" alt="">
							</div>
						</div>
						<div class="col-sm-7">
							<p><span class="details-label">Title: </span>{{own.title}}</p>
							<p><span class="details-label">Author: </span>Neil</p>
							<p><span class="details-label">ISBN-13: </span>{{own.isbn13}}</p>
							<div class="rating-container">
								<span class="fa-stack" ng-repeat="i in countFullStars(own.score) track by $index">
									<i class="fa fa-fw fa-lg fa-star fa-stack-1x yellow"></i>
								</span>
								<span class="fa-stack" ng-repeat="i in countHalfStars(own.score) track by $index">
									<i class="fa fa-fw fa-lg fa-star-half fa-stack-1x"></i>
									<i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
								</span>
								<span class="fa-stack" ng-repeat="i in countEmptyStars(own.score) track by $index">
									<i class="fa fa-fw fa-lg fa-star fa-stack-1x"></i>
								</span>
							</div>
							<h6 class="feedback-content">Rated on {{own.date | date:"dd-MM-yy"}}</h6>
							<p class="feedback-content"><br>
								<span ng-if="own.comment != null">{{own.comment}}</span>
								<span class="feedback-none" ng-if="own.comment == null">No comments.</span>
							</p>
							<p ng-if="own.usefulness == 2">You rated this feedback as very useful.</p>
							<p ng-if="own.usefulness == 1">You rated this feedback as useful.</p>
							<p ng-if="own.usefulness == 0">You rated this feedback as useless.</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>