<div class="container">
  <div class="jumbotron">
    <h1>Welcome to ggbooks!</h1>
    <p>Fill in the following fields to register, it's that easy!</p>
    <p>
      <form ng-submit="register()" role="form">
        <div class="form-inline">
          <input ng-model="user.username" type="email" class="form-control" placeholder="Email">
          <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
          <input ng-model="password" type="password" class="form-control" placeholder="Retype your password">
          <span ng-show="(user.password!=password)&&password!=null" class="alert-password"> <i class="fa fa-exclamation-triangle"></i> Password does not match.</span>
        </div>
        <p></p>
        <div class="form-inline">
          <input ng-model="user.name" type="text" class="form-control" placeholder="Full Name">
          <input ng-model="user.credit_card" type="text" class="form-control" placeholder="Credit Card">
        </div>
        <p></p>
        <div class="form-inline">
          <input ng-model="user.address" type="text" class="form-control" placeholder="Delivery Address">
          <input ng-model="user.phone" type="text" class="form-control" placeholder="Phone Number">
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Register</button>
        <span>Already registered? <a href="/#/login" title="">Login here instead.</a></span>
      </form>
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
    </p>
  </div>
</div>
<!--
<form ng-submit="register()"
  style="margin-top:30px;">
  <h3>Register</h3>
  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Username"
    ng-model="user.username"></input>
  </div>
  <div class="form-group">
    <input type="password"
    class="form-control"
    placeholder="Password"
    ng-model="user.password"></input>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form> -->